header{
    background-color: rgba(100, 100, 100, 0.938);
    text-align: center;
    position: fixed;
    width:100%;
    top:0;
    left:0;
    color: rgb(16, 16, 16);
    z-index: 2;
    

    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes fontfix {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.w3-tangerine {
  font-family: "Tangerine", serif;
  font-size: 32px;
  color: white;
}
.w3-tangerine h1 img{
    height: 65px;
    width: 65px;
    animation: oscillate 2s;
    animation-iteration-count: infinite;
}
@keyframes oscillate{
    0%{transform: rotateZ(-20deg);}
    50%{transform: rotateZ(45deg);}
    100%{transform: rotateZ(-20deg);}
}
.more_contacts{
    animation: shake 2s;
    animation-iteration-count: infinite;
}
.more_contacts:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    height="100px"; width="100px";
}

@keyframes shake {
  0% { transform: translate(4px, 4px) rotate(0deg); }
  10% { transform: translate(-4px, -8px) rotate(-10deg); }
  20% { transform: translate(-12px, 0px) rotate(10deg); }
  30% { transform: translate(12px, 8px) rotate(0deg); }
  40% { transform: translate(4px, -4px) rotate(10deg); }
  50% { transform: translate(-4px, 8px) rotate(-10deg); }
  60% { transform: translate(-12px, 4px) rotate(0deg); }
  70% { transform: translate(12px, 4px) rotate(-10deg); }
  80% { transform: translate(-4px, -4px) rotate(10deg); }
  90% { transform: translate(4px, 8px) rotate(0deg); }
  100% { transform: translate(4px, -8px) rotate(-10deg); }
}


header h1{
    display: inline-block;
    padding: 6px 12px;
    margin-left: 10px;
}

.banner img{
    min-width: 100%;
    height:400px;
}
nav{
    padding: 0px;
    position:sticky;
    top:92px;
    box-sizing: border-box;
    z-index: 1;
    background-color: #f4f4f4;

}
footer{
    position: fixed;
    bottom:0px;
    width: 100%;
}
footer p{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
body, ul, li,h1,h2, a{
    margin: 0;
    padding:0;
}

nav ul{
    max-width: 1200px;
    margin: 0px auto ;
    white-space: nowrap;
}
nav li{
    width: 20%;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    padding: 12px 0;
    text-align: center;
}
nav li:hover{
    background-color: #d4d4d4;
}
 a{
    text-decoration: inherit;
    color: #4b4b4b;
    padding: 5px 25px;
   
}
.works a:hover{
    text-shadow: 2px 2px #919191;
}
main{
    width:1200px;
    max-width: 100%;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: brown;
    font-size: 35px;;
}
article p{
    line-height: 2em;
    color: #4b4b4b;
}
.imgs{
    margin: 100px 0;
    white-space: nowrap;
}
.imgs li{
    display: inline-block;
    width:30%;
    margin: 50px 10%;    
}
.imgs li img{
    max-width: 100%;
    border-radius: 70px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
}
.imgs li img:hover{
    transform: rotateY(180deg);
}
span{
    font-size: 2em;
    color: rgb(253, 123, 62);

}

.opinion{
    background-color: rgba(200,200,200,1);
    box-shadow: 0px -4px 5px 0px rgba(200,200,200,0.5);
/*box-shadow: 0px -12px 18px 0px rgba(56,56,56,1);*/
   padding: 20px 20px;
   color: #333333;
   text-shadow: #f4f4f4;
   font-size: larger;
   line-height: 1.5em;
   max-width: 100%;
}
.opinion li a img{
    transition: transform 0.5s;
}
.opinion li a img:hover{
    transform: rotate(360deg);
}
.box a img:hover{
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.round{
    border: 2px solid #929292;
    border-radius: 30px;
    padding: 5px 15px;
}
.contact{
    
    white-space: nowrap;
    box-sizing: border-box;
}
.contact li{
    display: inline-block;
    width: 10%;
    margin: 10px 5%;
}
#wrap{
    width:100%;
    margin:100px auto;
}
.box{
    box-sizing: border-box;
    float:left;
    width:20%;
    height:200px;
    margin:50px 15%;
    text-align: center;
}
.box a img:hover{
    height: 205px;
    width: 205px;
}
section img{
    max-width: 100%;
}
p{
    font-size: 20px;
}
.intro{
    font-size: 30px;
}
/* Making the page responsive*/

@media screen and (max-width: 750px){
    .imgs li{
        width: 70%;
        display: block;
        margin: 25px auto;
    }
    .intro{font-size: 25px;}
    header{
        position: static;
    }
    .banner img{
        height: 400px;
    }
    .navigation a{
        padding: 4px 5px;
    }
    nav li{
        font-size: 20px;
    }
    
    nav{
        position: sticky;
        top:0;
    }
    .box a img{
        height: 100px;
        width: 100px;
    }
    .box a img:hover{
        height: 105px;
        width: 105px;
    }
    .w3-tangerine{
        font-size: 20px;
    }
    .w3-tangerine h1 img{
    height: 40px;
    width: 40px;
}
    .opinion li a img{
        height: 50px;
        width: 50px;
    }
    .opinion li a{

        margin: 0; 
        padding: 0;
    }
    .box a{
        padding: 0;
        margin: 0;
    }

}
@media screen and (max-width: 500px){
    .opinion li a img{
        height: 30px;
        width: 30px;
    }
    main article p{
        font-size: 15px;
    }
    .intro{font-size: 20px;}
    nav li{font-size: 15px;}
    .w3-tangerine{
        font-size: 15px;
    }
    .w3-tangerine h1 img{
    height: 30px;
    width: 30px;
}
    .box a img{
        height: 70px;
        width: 70px;
        padding: 0;
        margin: 0;
    }
    .box a img:hover{
        height: 75px;
        width: 75px;
    }
    nav li{font-size: 14px;}
    footer{    background-color: rgba(105,105,105,0.5);
    }
    footer p{
        text-align: center;
        color: white;
    }
}